@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'GTA';
  src: url('/fonts/pricedown.ttf') format('truetype');
}

.font-gta {
  font-family: 'GTA', sans-serif;
}



